 body, html {
      height: 100%;
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      background: #f8f9fa;
      background-size: cover !important;
      align-items: center;
      justify-content: center;
      
    }

    #captchaCanvas{
      cursor: pointer;
    }

    .bg-register{
      height: auto !important;
      opacity: 0;
  transition: opacity 1s ease-in-out;
    }

.login-logo {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #dee2e6;
  }
    .full-screen {
      position: absolute;
      width: 100%;
      height: 100%;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: all 0.5s ease-in-out;
    }

    .logo {
      max-width: 200px;
      max-height: 200px;
      margin-bottom: 20px;
    }

    .motto {
      font-size: 2rem;
      font-weight: 600;
      color: #333;
      opacity: 0;
    }

    .container-display{
      display: block !important;
    }

    .login-container {
      display: none;
      max-width: 400px;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .form-control:focus {
      box-shadow: none;
      border-color: #0d6efd;
    }

    .fadeOut {
      opacity: 0;
      transition: opacity 0.8s ease-out;
    }

    /* untuk animasi planet */

.planet-gallery-wrapper {
  overflow: hidden;
  width: 100%;
  height: 75px;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 1;

}

.planet-gallery {
  display: flex;
  width: max-content;
  animation: slidePlanet 30s linear infinite;
}

.planet-gallery img.planet {
  width: 80px;
  height: auto;
  margin-right: 0px;
  margin-top: 0px;
}

@keyframes slidePlanet {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.bottom-gallery {
  bottom: 10px;
  top: auto;
}

.planet-gallery.reverse {
  animation: slideReverse 40s linear infinite;
}

@keyframes slideReverse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.benderaWrapper{
  display: none;
}

    /* animasi planet done */