#detail-order-form section {
  display: none;
}

.inline-title{
  display: inline-block;
}

#new-campaign {
  display: none;
}

.table-responsive{
  min-height: 430px;
}

.link-virtualvisitors-code, .link-apply-theme, .link-all, .link-add, .link-upload, .link-edit, .link-delete, .link-approve, .link-cancel {
  display: inline-block;
  height: 24px;
  text-align: right;
  background-size:  16px;
  background-position: left;
  background-repeat: no-repeat;
    margin-right:   10px;
    cursor : pointer;
}

#code-virtualvisitors-form-modal > .modal-dialog{
  max-width: 1000px !important;
}

.link-cancel:hover, .link-apply-theme:hover, .link-virtualvisitors-code:hover, .link-upload:hover, .link-add:hover, .link-edit:hover, .link-delete:hover, .link-approve:hover {
    background-color:   yellow;
}

#status-virtualvisitors-loading, #virtualvisitors-progress, #status-virtualvisitors-error{
  display:none;
}

#check-all {
  cursor: pointer;
}

.text-right{
  text-align: right;
}

.opt-social:hover, .opt-web:hover , .opt-appbase:hover{
  background-color: yellow;
  cursor: pointer;
}

.opt-social-checked, .opt-web-checked, .opt-appbase-checked {
  background-color: orange;
  
}

.link-all {
  background-image: url('../images/select-all.png');
  width: 85px;
}

.link-cancel {
  background-image: url('../images/cancel.png');
  width: 65px;
}

.link-approve {
  background-image: url('../images/ok.png');
  width: 85px;
}

.link-add {
  background-image: url('../plugins/images/add.png');
  width: 85px;
}

.link-virtualvisitors-code{
   background-image: url('/assets/images/code.png');
  width: 50px;
}

.link-upload{
  background-image: url('/assets/images/upload.png');
  width: 75px;
}

.link-edit {
  background-image: url('../plugins/images/edit.png');
  width: 50px;
}

.link-delete {
  background-image: url('../plugins/images/delete.png');
  width: 65px;

}

a.disabled {
  pointer-events: none;
  color: gray;
  text-decoration: none;
  cursor: default;
}

.search-shown {
  display: inline-block;
}

.search-hide {
 display: none !important; 
}

#management-loading, .modal-loading {
  display: none;
}

.ct-vertical  {
  width : 50px !important;
}

.social-medias img {
  width: 24px;
  height: 24px;
  display: inline-block;
}



.order-item:hover {
  background-color: yellow;
  cursor: pointer;
  box-shadow: 7px 8px 19px -5px rgba(0,0,0,0.43);
-webkit-box-shadow: 7px 8px 19px -5px rgba(0,0,0,0.43);
-moz-box-shadow: 7px 8px 19px -5px rgba(0,0,0,0.43);
border-radius: 46px 46px 46px 46px;
-webkit-border-radius: 46px 46px 46px 46px;
-moz-border-radius: 46px 46px 46px 46px;
}

.round-btn {
  border-radius: 5px;
  border-style: ridge;
  width: 70% !important;
}

.round-btn img {
   margin-left: 20px;
   display:inline-block;
}

.title-btn {
  text-align: left;
  padding-left: 30px;
  display: inline-block;
  width: 62%;
  font-size: 1em;
}

.warning-text {
  color: red;
  font-style: italic;
  border-style: ridge;
  border-radius: 6px;
}

.red-text-bold{
  font-weight: bold;
  color: red;
}